# Folders
obj/
map/
_bak_/

# Compiled Object files

# Compiled Dynamic libraries

# Compiled Static libraries

*.cache
Cla*.dll
*.exe

# Other Files
*.bak
*.log
*.ini
*.exe
*.lnk
_*.bat
_*.BAT

*.exe
